<style>
 body {
 	background: <%= @color %>;
 }
</style>

<h1>About myself</h1>
<p>Some very interesting things about me</p>

<p>My favorite color is <%= @color %></p>
<p>My shoe size is <%= @size %></p>
<% if @size > 12 %>
 <p>I have a huge feet!</p>
<% end %>

<%= link_to "Yellow", {controller: "welcome", action: "about", color: "yellow"}, class: "btn btn-warning" %>

<%= link_to "red", about_path(color: "red"), class: "btn btn-danger" %>

<%= link_to "blue", about_path(color: "blue"), class: "btn btn-primary" %>